@media only screen and (max-width: 1920px) {
    /* UPPER BLOCK */
    .headline {
        margin-right: 440px;
    }
    .video-box {
        margin-right: 360px;
    }
    .video-description {
        margin-right: 440px;
    }
    /* MIDDLE BOX */
    .orange-box {
        width: 1647px;
    }
    .orange-box-content {
        margin-right: 749px;
    }
    .advantages {
        margin-right: 545px;
    }
    .white-cascade-box{
        right: 444px;
    }
    .gray-cascade-box{
        right: 360px;
    }
    .feedback-box {
        margin-right: 427px;
    }
}
@media only screen and (max-width: 1680px) {
    /* UPPER BLOCK */
    .headline {
        margin-right: 320px;
    }
    .video-box {
        margin-right: 240px;
    }
    .video-description {
        margin-right: 320px;
    }
    /* MIDDLE BOX */
    .orange-box {
        width: 1440px;
    }
    .orange-box-content {
        margin-right: 628px;
    }
    .advantages {
        margin-right: 424px;
    }
    .white-cascade-box{
        right: 324px;
    }
    .gray-cascade-box{
        right: 240px;
    }
    .feedback-box {
        margin-right: 307px;
    }
}
@media only screen and (max-width: 1440px) {
    /* UPPER BLOCK */
    .headline {
        margin-right: 418px;
    }
    .headline-header{
        width: 478px;
    }
    .headline-text {
        width: 562px;
    }
    .video-box {
        margin-right: 80px;
    }
    .video-box-line-first{
        margin-left: 140px;
    }
    .video-box-line-second{
        margin-left: 140px;
    }
    .video-description {
        margin-right: 80px;
    }
    /* MIDDLE BOX */
    .orange-box {
        width: 1360px;
    }
    .orange-box-content {
        margin-right: 388px;
    }
    .advantages {
        margin-right: 184px;
    }
    .white-cascade-box{
        right: 84px;
    }
    .gray-cascade-box{
        right: 0px;
    }
    .feedback-box {
        margin-right: 67px;
    }
}
@media only screen and (max-width: 1366px) {
    /* UPPER BLOCK */
    .headline {
        margin-right: 418px;
    }
    .headline-header{
        width: 478px;
    }
    .headline-text {
        width: 562px;
    }
    .video-box {
        margin-right: 80px;
    }
    .video-description {
        margin-right: 80px;
    }
    /* MIDDLE BOX */
    .orange-box {
        width: 1360px;
        left: -80px;
    }
    .orange-box-content {
        margin-right: 388px;
    }
    .advantages {
        margin-right: 184px;
    }
    .white-cascade-box{
        right: 84px;
    }
    .gray-cascade-box{
        right: 0px;
    }
    .feedback-box {
        margin-right: 67px;
    }
}
@media only screen and (max-width: 1280px) {
     /* UPPER BLOCK */
    .headline {
        margin-right: 418px;
    }
    .headline-header{
        width: 478px;
    }
    .headline-text {
        width: 562px;
    }
    .video-box {
        margin-right: 80px;
        /* width: 100%; */
        /* align-self: center;
        align-items: flex-start;
        width: calc(100% - 120px); */
    }
    .video-box-line-first{
    margin-left: 140px;
    }
    .video-box-line-second{
    margin-left: 140px;
    }
    .video-description {
        margin-right: 80px;
    }
    /* MIDDLE BOX */
    .orange-box {
        width: 1025px;
        left: 0px;
    }
    .orange-box-content {
        margin-right: 388px;
    }
    .advantages {
        margin-right: 184px;
    }
    .white-cascade-box{
        /* width: 975px; */
        width: calc(1020px - 124px);
    }
    .gray-cascade-box{
        width:calc(980px - 124px);
        /* width: 850px; */
    }
    .feedback-box {
        margin-right: 69px;
    }
    /* FOOTER */
    .middle {
        margin-right: 0px;
    }
}
@media only screen and (max-width: 1200px) {
     /* UPPER BLOCK */
    .video-box {
        margin-right: 80px;
        width: calc(100% - 160px);
    }
}
@media only screen and (max-width: 1160px) {
     /* UPPER BLOCK */
    .video-box {
        margin-right: 80px;
        width: calc(100% - 160px);
    }
}
@media only screen and (max-width: 1140px) {
     /* UPPER BLOCK */
    .video-box {
        margin-right: 40px;
        width: calc(100% - 80px);
    }
    /* .video-box-line-first{
        width
    }
        .video-box-line-second{
        width
    } */
}
@media only screen and (max-width: 1024px) {
    /* UPPER BLOCK */
    .headline {
        margin-right: 238px;
    }
    .video-box {
        margin-right: 0px;
        width:  100%
    }
    .video-box-line-first{
        margin-left: 238px;
    }
        .video-box-line-second{
        margin-left: 238px;
    }
    .video-description {
        display: none;
    }
    .video-description-mobile {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    /* MIDDLE BOX */
    .orange-box {
        width: 100%;
        left: 0px;
    }
    .orange-box-content {
        margin-right: 256px;            /* По макету 256px */
    }
    .advantages {
        margin-right: 47px;             /* По макету 50-60px */
    }
    .white-cascade-box{
        width: 927px;
        right: 48px;
    }
    .gray-cascade-box{
        width: 856px;
        right: 0px;
    }
    .feedback-box {
        margin-right: 0px;
        width: 852px;
    }
    .feedback-upper-line {
        width: calc(913px - 61px);
    }
    .feedback-middle-line {
        width: calc(913px - 61px);
    }
    .feedback-lower-line {
        width: calc(913px - 61px);
    }
    .upper-input-row{
        width: calc(913px - 61px);
    }
    .lower-input-row{
        width: calc(913px - 61px);
    }
    .upper-input-row input {
        width: calc(446px - 30.5px);
    }
    .lower-input-row input {
        width: calc(913px - 61px);
    }
    /* FOOTER */

}