* {
    margin: 0 0;
    box-sizing: border-box;
}
body {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
/* HEADER BLOCK */
header {
    /* background-color: rgba(0, 0, 0, 0.93); */
    display: block;
    flex-direction: row;
    align-items: center;
}
.logo-keeper {
    /* background: url('./images/logo.png'); */
    background-repeat: no-repeat;
    background-position: center;
    width: 3.58vw;  /* 2.58vw по линейке макета*/
    height: 1.25vw;
    float: left;
    margin-left: 3.21vw;
    margin-top: 2.61vw;
}
.logo-keeper:hover{
    background-color: #f76612;
}
.nav-keeper {
    float: right;
    margin-right: 3.09vw;
    margin-top: 2.34vw;
    margin-bottom: 5.98vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.middle-item {
    padding-left: 1.83vw;
    padding-right: 1.88vw;
}
.nav-keeper a {
    color: #ffffff;
    font-family: 'ProductSansCrillyc';
    font-size: 0.63vw;
    line-height: 1.25vw;
    letter-spacing: 0.03vw;
    text-decoration: none;
}
.nav-keeper a:hover {
    color: lightcoral;
    border: 0.04vw dashed snow;
}

/* MAIN CONTENT BLOCK */
/* .main-box {
} */
/* UPPER */
.upper-content-box{
    /* background-color: rgba(0, 0, 0, 0.93); */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    position: relative;
    border: none
}
.headline {
    display: flex;
    flex-direction: column;
    margin-left: 35.16vw;
}
.headline-header{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 18.67vw;
    height: 7.3vw;
}
.headline-header h2{
    color: #ffffff;
    font-size: 1.72vw;
    font-family: 'Roboto-Bold';
    line-height: 2.5vw;
    letter-spacing: 0.04vw;
    font-weight: 800;
}
.headline-text {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 35.15vw;
    height: 2.5vw;
    margin-top: 2.54vw;
    margin-bottom: 6.45vw;
}
.headline-text p{
    color: #ffffff;
    font-size: 0.625vw;
    font-family: 'ProductSansCrillyc';
    line-height: 1.25vw;
    letter-spacing: 0.03vw;
    font-weight: 400;
}
.video-box {
    width: 40.62vw;
    height: 23.43vw;
    margin-bottom: 3.125vw;
    margin-left: 31.82vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000000
}
.video-box-line-first{
    margin-left: 4vw;    /* 2.51vw по линейке макета*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.video-box h1{
    color: #ffffff;
    font-size: 1.72vw;
    font-family: 'Roboto-Bold';
    line-height: 2.5vw;
    letter-spacing: 0.04vw;
    flex-grow: 1;
}
.video-box-line-second {
    margin-left: 4vw;    /* 2.51vw по линейке макета*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.play-icon {
    background: url('./images/play-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 0.31vw;
    height: 0.63vw;
    flex-grow: 0;
}
.video-box p{
    background-color: #000000;
    padding-left: 0.625vw;
    color: #ffffff;
    font-size: 0.625vw;
    font-family: 'ProductSansCrillyc';
    line-height: 1.25vw;
    letter-spacing: 0.03vw;
    flex-grow: 1;
}
.video-description {
    margin-bottom: 12.5vw;
    margin-left: 35.16vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content: center; */
}
.video-description-left{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 21.1vw;
    /* height: 192px; */
}
.video-description-left p{
    font-family: 'ProductSansCrillyc';
    font-size: 0.625vw;
    line-height: 1.25vw;
    letter-spacing: 0.03vw;
    line-height: 1.25vw;
    font-weight: 400;
    color: #ffffff;
}
.video-description-right{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 12.5vw;
    /* height: 96px; */
}
.video-description-right p{
    font-family: 'ProductSansCrillyc';
    font-size: 0.625vw;
    line-height: 1.25vw;
    letter-spacing: 0.03vw;
    line-height: 1.25vw;
    font-weight: 400;
    color: #ffffff;
}
/* MIDDLE */
.middle-content-box {
    background-color: #edeef0;
    position: relative;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: flex-end;
}
.orange-box{
    width: 71.91vw;
    height: 63vw;
    background-color: #f76612;
    z-index: 10;
    position: absolute;
    bottom: 40.16vw;
    left: 0vw;
}
.orange-box-content {
    width: 23.125vw;
    height: 53.24vw;
    margin: 4.84vw  6.95vw 4.88vw 35.31vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 12;
    position: relative;
}
.text-install-registration {
    height: 14.84vw;
    z-index: 13;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text-install-registration-label p{
    font-family: 'Roboto-Bold';
    font-size: 0.625vw;
    letter-spacing: 0.04vw;
    line-height: 0.94vw;
    font-weight: 400;
    color: #121212;
}
.text-install {
    margin-top: 2.23vw;
    margin-bottom: 4.41vw;
}
.text-install p {
    font-family: 'Roboto-Bold';
    font-size: 1.33vw;
    letter-spacing: 0.02vw;
    line-height: 2.343vw;
    font-weight: 800;
    color: #121212;
    text-transform: uppercase;
}
.text-registration {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;

    margin-bottom: 23.16vw;
}
.text-registration p {
    font-family: 'Roboto-Bold';
    font-size: 1.33vw;
    letter-spacing: 0.02vw;
    line-height: 2.34vw;
    font-weight: 800;
    color: #121212;
    text-transform: uppercase;
}
.text-secure-box {
    height: 15.23vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 13;
}
.secure-header {
    margin-bottom: 7.3vw;
}
.secure-header h1{
    font-family: 'Roboto-Bold';
    font-size: 1.33vw;
    letter-spacing: 0.02vw;
    line-height: 2.34vw;
    font-weight: 800;
    color: #121212;
}
.secure-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.secure-text p{
    font-family: 'ProductSansCrillyc';
    font-size: 0.625vw;
    letter-spacing: 0.04vw;
    line-height: 0.94vw;
    font-weight: 400;
    color: #121212;
}
.secure-text p:first-child {
    margin-bottom: 0.35vw;
}
.left-phone{
    z-index: 14;
    position: absolute;
    width: 13.6vw;
    height: 13.4vw;
    /* background: url('./images/left-phone.png');
    background-position-y: top;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 100%; */
    top: 14.2578125vw;
    right: 12.39vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-phone img{
    width: 13.6vw;
    height: 13.4vw;
}
.right-phone{
    z-index: 12;
    position: absolute;
    width: 12.27vw;
    height: 12.66vw;
    /* background: url('./images/right-phone.png');
    background-position-y: top;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 100%; */
    top: 32.5vw;
    left: 12.73437vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-phone img{
    width: 12.27vw;
    height: 12.66vw;
}
.advantages {
    height: 19.45vw;
    width: 31.09vw;
    margin-top: 61.56vw;
    margin-bottom: 15.86vw;
    margin-left: 35.31vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.advantages-question p {
    font-family: 'ProductSansCrillyc';
    font-size: 0.625vw;
    color: #121212;
    line-height: 0.94vw;
    font-weight: 400;
    letter-spacing: 0.04vw;
}
.advantages-item h1 {
    font-family: 'Roboto-Bold';
    font-size: 1.32vw;
    color: #121212;
    line-height: 2.34vw;
    font-weight: 800;
    letter-spacing: 0.02vw;
}
.advantages-item p {
    font-family: 'ProductSansCrillyc';
    font-size: 0.625vw;
    color: #121212;
    line-height: 0.94vw;
    font-weight: 400;
    letter-spacing: 0.04vw;
}
.white-cascade-box{
    position: absolute;
    width: 39.84vw;
    height: 24.53vw;
    background-color: #ffffff;
    z-index: 9;
    left: 29.92vw;
    top: 91.13vw;
}
.white-cascade-box p {
    font-family: 'Roboto-Bold';
    font-size: 0.94vw;
    color: #121212;
    line-height: 1.41vw;
    font-weight: 800;
    letter-spacing: 0.02vw;
    writing-mode: tb-rl;
    transform:rotate(180deg);
    margin-top: 4.26vw;
    margin-left: -0.234vw;
}
.gray-cascade-box{
    position: absolute;
    width: 38.28vw;
    height: 25vw;
    background-color: #333333;
    z-index: 10;
    left: 35.31vw;
    top: 87.15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gray-cascade-box-header {
    margin-left: 2.34vw;
    margin-top: 1.72vw;
}
.gray-cascade-box-header h2 {
    font-family: 'Roboto-Medium';
    font-size: 0.94vw;
    color: #ffffff;
    line-height: 1.41vw;
    font-weight: 800;
    letter-spacing: 0.02vw;
}
.gray-cascade-box-upper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 29.67vw;
    margin-left: 2.34vw;
}
.upper-icon {
    background: url('./images/upper-icon-gray-box.png');
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: #6c6c6c; */
    width: 0.78vw;
    height: 0.78vw;
    margin-bottom: 0.625vw;
}
.gray-cascade-box-upper p {
    font-family: 'ProductSansCrillyc';
    font-size: 0.625;
    color: #ffffff;
    line-height: 1.25vw;
    font-weight: 400;
    letter-spacing: 0.03vw;
}
.gray-cascade-box-middle  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 29.67vw;
    margin-left: 2.34vw;
}
.middle-icon {
    background: url('./images/middle-icon-gray-box.png');
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: #a3a3a3; */
    width: 0.78vw;
    height: 0.78vw;
    margin-bottom: 0.625vw;
}
.gray-cascade-box-middle p {
    font-family: 'ProductSansCrillyc';
    font-size: 0.625;
    color: #ffffff;
    line-height: 1.25vw;
    font-weight: 400;
    letter-spacing: 0.03vw;
}
.gray-cascade-box-lower {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 29.67vw;
    margin-left: 2.34vw;
    margin-bottom: 3.13vw;
}
.lower-icon {
    background: url('./images/lower-icon-gray-box.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 0.70vw;
    height: 0.78vw;
    margin-bottom: 0.625vw;
}
.gray-cascade-box-lower p {
    font-family: 'ProductSansCrillyc';
    font-size: 0.625;
    color: #ffffff;
    line-height: 1.25vw;
    font-weight: 400;
    letter-spacing: 0.03vw;
}
/* LOWER */
.lower-content-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.feedback-box {
    width: 100vw;
    height: 19.92vw;
    margin-top: 26.72vw;
    margin-right: 29.18vw;
    margin-left: 35.15vw;
    display: flex;
    flex-direction: column;
}
.feedback-upper-line {
    width: 35.66vw;
    flex-grow: 1;
}
.feedback-upper-line p{
    font-family: 'ProductSansCrillyc';
    font-size: 44px;
    color: #ffffff;
    line-height: 64px;
    font-weight: 800;
    letter-spacing: 1px;
}
.feedback-middle-line {
    width: 35.63vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.upper-input-row{
    width: 35.66vw;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.upper-input-row input:focus {
    border-bottom: 1px solid salmon;
}
.upper-input-row input {
    width: 17.46vw;
    font-family: 'ProductSansCrillyc';
    font-size: 0.625vw;
    color: #ffffff;
    line-height: 1.25vw;
    font-weight: 400;
    letter-spacing: 0.027vw;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #dbdbdb;
}
.upper-input-row input:focus-within {
    border-bottom: 0.04vw solid white;
}
.lower-input-row{
    width: 35.66vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lower-input-row input:focus-within {
    border-bottom: 0.04vw solid white;
}
.lower-input-row input {
    width: 35.63vw;
    font-family: 'ProductSansCrillyc';
    font-size: 0.625vw;
    color: #ffffff;
    line-height: 1.25vw;
    font-weight: 400;
    letter-spacing: 0.03vw;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    border-bottom: 0.04vw solid #dbdbdb;
}
.feedback-lower-line {
    width: 35.66vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
button {
    width: 9.06vw;
    height: 2.81vw;
    background-color: #f76612;
    border: none;
}
button p {
    font-family: 'ProductSansCrillyc';
    font-size: 0.625vw;
    color: #ffffff;
    line-height: 0.94vw;
    font-weight: 400;
    letter-spacing: 0.04vw;
    text-transform: uppercase;
}

/* FOOTER BLOCK */
footer {
    /* background-color: rgba(0, 0, 0, 0.93); */
    height: 11.09vw;
    bottom: 0vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-logo-keeper{
    /* background: url('./images/logo.png'); */
    /* background-repeat: no-repeat;
    background-position: center; */
    width: 3.58vw; /* 2.58vw по линейке макета*/
    /* height: 1.25vw; */
    margin-top: 7.11vw;
    margin-left: 3.13vw;
    margin-bottom: 3.20vw;
}
.footer-logo-keeper a {
    width: 2.58vw;
    height: 1.25vw;
}
.footer-logo-keeper:hover{
    background-color: #f76612;
}
.footer-text {
    width: 21.05vw;
    height: 2.3vw;
    margin-top: 6.25vw;
    margin-bottom: 2.54vw;
    /* margin-left: -5.7vw; */
    margin-left: -6.7vw;
}
.footer-text p {
    font-family: 'ProductSansCrillyc';
    font-size: 0.625vw;
    line-height: 1.25vw;
    font-weight: 400;
    letter-spacing: 0.03vw;
    color: #ffffff;
}
.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 4.45vw;
    margin-right: 3.125vw;
    margin-top: 7.15vw;
}
.social {
    display: flex;
    flex-direction: row;
    margin-bottom: 3.20vw;
}
.social:hover {
    background-color: #f76612;
}
/* .f{
    width: 0.31vw;
    height: 0.7vw;
    background: url('./images/f.png');
    background-position: center;
    background-repeat: no-repeat;
}
.i{
    width: 0.66vw;
    height: 0.74vw;
    background: url('./images/i.png');
    background-position: center;
    background-repeat: no-repeat;
}
.in{
    width: 0.55vw;
    height: 0.625vw;
    background: url('./images/in.png');
    background-position: center;
    background-repeat: no-repeat;
} */